@use '@angular/material' as mat;
@import '../../../styles/colors.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 40px;
}

mat-form-field.mat-form-field {
    width: 400px;
    font-size: 12px;
    margin-top: 10px;
  }

.table-container {
      grid-column: span 2;
      @include mat.elevation(8);
      margin-top: 20px;

      table {
          width: 100%;
      }
}

.icon {
    cursor: pointer;
    color: rgba($color: #000000, $alpha: 0.6);
}

.activity-indicator {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: tomato;

    &.active {
        background: #65f077;
    }
}
 tr {
    height: 56px !important;
}

.table-btn-cell {
    width: 60px;
}